@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght,FILL@100..700,0..1&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Pretendard", ui-sans-serif, system-ui, sans-serif;
  
  --color-primary: #4f46e5; /* Vibrant Indigo-600 */
  --color-primary-container: #4338ca; /* Deep Indigo-700 for high readability */
  --color-on-primary-fixed: #713f12; /* Dark Yellow-Brown for badge text */
  --color-primary-fixed: #fef08a; /* Warm Golden Yellow-200 for badge background */
  
  --color-surface-container: #f8fafc;
  --color-surface-container-lowest: #ffffff;
}

@layer base {
  body {
    @apply font-sans text-slate-900 bg-[#f9f9f9];
  }
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

.material-fill {
  font-variation-settings: 'FILL' 1;
}
